{
  "globals": {
    "jQuery": true,
    "$": true
  },
  "env": {
    "browser": true,
    "node": true
  },
  "extends": "eslint:recommended",
  "parserOptions": {
    "ecmaVersion": 2016,
    "sourceType": "module"
  },
  "rules": {
    "eol-last": ["error", "always"]
  }
}
